@import "tailwindcss";

:root{
    --pink-pearl: #EFAFCA;
    --muted-pink: #D17795;
    --pearl: #FFEBF2;
    --text_primary: #797979;
    --text_secondary: #FAFAFA;
    --text_hover: #000000;
}


.header-carousel .swiper-slide {
  width: auto !important;
  flex-shrink: 0;        
  display: flex;         
  align-items: center;    
}


/* .swiper,
.swiper-slide {
  overflow: visible !important;
} */

