@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* Global Setup */
:root{
    --pink-pearl: #EFAFCA;
    --muted-pink: #D17795;
    --pearl: #FFEBF2;
    --text_primary: #797979;
    --text_secondary: #FAFAFA;
    --text_hover: #000000;
    --font-primary: 'Be Vietnam Pro', sans-serif;
}

body {
  font-family: var(--font-primary);
}

/* Banner Home Carousel */
.header-carousel .swiper-slide {
  width: auto !important;
  flex-shrink: 0;        
  display: flex;         
  align-items: center;    
}

.carousel-slide {
  width: 90% !important; 
  transition: all 0.3s ease;
  filter: brightness(0.6);
}

.carousel-slide.swiper-slide-active {
  filter: blur(0);
  opacity: 1;
  transform: scale(1);
}

.bannerSwiper .swiper-button-next,
.bannerSwiper .swiper-button-prev {
  position: absolute;
  background: #FFFFFF;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bannerSwiper .swiper-button-next {
  right: 6%!important;
}

.bannerSwiper .swiper-button-prev {
  left: 6%!important;
}

.bannerSwiper .swiper-button-next svg,
.bannerSwiper .swiper-button-prev svg {
  width: 20%;
  color: #000000;
}

.bannerSwiper .swiper-pagination-bullet-active {
  background: #ff6b9d;
}

/* Brand Carousel */
.brandSwiper .swiper-button-next,
.brandSwiper .swiper-button-prev {
  position: absolute;
  background: rgba(0, 0, 0, 0.63);
  filter: brightness(0.8);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.brandSwiper .swiper-button-next {
  right: 2%!important;
}

.brandSwiper .swiper-button-prev {
  left: 2%!important;
}

.brandSwiper .swiper-button-next svg,
.brandSwiper .swiper-button-prev svg {
  width: 20%;
  color: #FFFFFF;
}

.brandSwiper .swiper-button-next.swiper-button-disabled,
.brandSwiper .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}

/* Sale Carousel */
.saleSwiper .flash-prev.swiper-button-disabled,
.saleSwiper .flash-next.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}

/* Banner Carousel */
.bannerSwiper .-prev.swiper-button-disabled,
.bannerSwiper .next.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}

/* Blog Carousel */
.blogSwiper .-prev.swiper-button-disabled,
.blogSwiper .next.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}


